# Import Data & Change Column Names

In [ ]:
#!pip install openpyxl==3.0.0

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
financials = pd.read_csv('/content/drive/MyDrive/PBN/financials.csv')

In [ ]:
financials.head()

,Unnamed: 0,Tax_number,Beszámoló.kezdete,Beszámoló.vége,X01..Belföldi.értékesítés.nettó.árbevétele,X02..Exportértékesítés.nettó.árbevétele,I..Értékesítés.nettó.árbevétele..01.02.,II..Aktivált.saját.teljesítmények.értéke...03.04.,III..Egyéb.bevételek,X05..Anyagköltség,...,X1..Hosszú.lejáratra.kapott.kölcsönök,X4..Beruházási.és.fejlesztési.hitelek,X5..Egyéb.hosszú.lejáratú.hitelek,III..Rövid.lejáratú.kötelezettségek,X1..Rövid.lejáratú.kölcsönök,X2..Rövid.lejáratú.hitelek,X3..Vevőktől.kapott.előlegek,X4..Kötelezettségek.áruszállításból.és.szolgáltatásból..szállítók.,G..Passzív.időbeli.elhatárolások,Források.összesen
0,130,2.902999e+10,2003-01-01,2003-12-31,NaN,NaN,74122000.0,0.0,0.0,NaN,...,NaN,NaN,NaN,4255000.0,NaN,NaN,NaN,NaN,29000.0,11945000.0
1,131,2.902999e+10,2004-01-01,2004-12-31,NaN,NaN,68541000.0,0.0,1000.0,NaN,...,NaN,NaN,NaN,5835000.0,NaN,NaN,NaN,NaN,49000.0,13144000.0
2,132,2.902999e+10,2005-01-01,2005-12-31,NaN,NaN,43864000.0,0.0,2000.0,NaN,...,NaN,NaN,NaN,5217000.0,NaN,NaN,NaN,NaN,29000.0,12547000.0
3,133,2.902999e+10,2006-01-01,2006-12-31,NaN,NaN,45740000.0,0.0,1000.0,NaN,...,NaN,NaN,NaN,4488000.0,NaN,NaN,NaN,NaN,0.0,12196000.0
4,134,2.902999e+10,2007-01-01,2007-12-31,NaN,NaN,31452000.0,0.0,18000.0,NaN,...,NaN,NaN,NaN,1855000.0,NaN,NaN,NaN,NaN,0.0,9969000.0

In [ ]:
financials.columns

Index(['Unnamed: 0', 'Tax_number', 'Beszámoló.kezdete', 'Beszámoló.vége',
       'X01..Belföldi.értékesítés.nettó.árbevétele',
       'X02..Exportértékesítés.nettó.árbevétele',
       'I..Értékesítés.nettó.árbevétele..01.02.',
       'II..Aktivált.saját.teljesítmények.értéke...03.04.',
       'III..Egyéb.bevételek', 'X05..Anyagköltség',
       'X06..Igénybe.vett.szolgáltatások.értéke',
       'X08..Eladott.áruk.beszerzési.értéke',
       'X09..Eladott..közvetített..szolgáltatások.értéke',
       'IV..Anyagjellegű.ráfordítások..05.06.07.08.09.',
       'V..Személyi.jellegű.ráfordítások..10.11.12.',
       'VI..Értékcsökkenési.leírás', 'VII..Egyéb.ráfordítások',
       'A..Üzemi..üzleti..tevékenység.eredménye..I.II.III.IV.V.VI.VII.',
       'VIII..Pénzügyi.műveletek.bevételei..13.14.15.16.17.',
       'IX..Pénzügyi.műveletek.ráfordításai..18.19.20.21.',
       'B..Pénzügyi.műveletek.eredménye..VIII.IX.',
       'C..Szokásos.vállalkozási.eredmény...A.B.', 'X..Rendkívüli.bevételek',
       'XI..Rendkívüli.ráfordítások', 'D..Rendkívüli.eredmény..X.XI.',
       'C..Adózás.előtti.eredmény...C.D.', 'X..Adófizetési.kötelezettség',
       'D..Adózott.eredmény...E.XII.',
       'X22..Eredménytartalék.igénybevétele.osztalékra..részesedésre',
       'X23..Jóváhagyott.osztalék..részesedés',
       'G..Mérleg.szerinti.eredmény...F.22.23.', 'A..Befektetett.eszközök',
       'I..Immateriális.javak', 'X2..Kísérleti.fejlesztés.aktivált.értéke',
       'X4..Szellemi.termékek', 'X5..Üzleti.vagy.cégérték',
       'II..Tárgyi.eszközök', 'X5..Beruházások..felújítások',
       'X6..Beruházásokra.adott.előlegek',
       'III..Befektetett.pénzügyi.eszközök', 'B..Forgóeszközök',
       'I..Készletek', 'II..Követelések',
       'X1..Követelések.áruszállításból.és.szolgáltatásból..vevők.',
       'III..Értékpapírok', 'IV..Pénzeszközök',
       'C..Aktív.időbeli.elhatárolások', 'Eszközök.összesen', 'D..Saját.tőke',
       'I..Jegyzett.tőke', 'II..Jegyzett..de.még.be.nem.fizetett.tőke....',
       'III..Tőketartalék', 'IV..Eredménytartalék', 'V..Lekötött.tartalék',
       'VI..Értékelési.tartalék', 'VII..Mérleg.szerinti.eredmény',
       'VII..Adózott.eredmény', 'E..Céltartalékok', 'F..Kötelezettségek',
       'I..Hátrasorolt.kötelezettségek', 'II..Hosszú.lejáratú.kötelezettségek',
       'X1..Hosszú.lejáratra.kapott.kölcsönök',
       'X4..Beruházási.és.fejlesztési.hitelek',
       'X5..Egyéb.hosszú.lejáratú.hitelek',
       'III..Rövid.lejáratú.kötelezettségek', 'X1..Rövid.lejáratú.kölcsönök',
       'X2..Rövid.lejáratú.hitelek', 'X3..Vevőktől.kapott.előlegek',
       'X4..Kötelezettségek.áruszállításból.és.szolgáltatásból..szállítók.',
       'G..Passzív.időbeli.elhatárolások', 'Források.összesen'],
      dtype='object')

In [ ]:
financials = financials.drop(columns='Unnamed: 0')

In [ ]:
names_list = pd.read_excel('/content/drive/MyDrive/PBN/Translation.xlsx').iloc[:,0].tolist()

In [ ]:
financials.columns = names_list

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
financials.dtypes

Tax Number                                  float64
Report Start Date                            object
Report End Date                              object
Net Sales (domestic revenue)                float64
Net Sales (export revenue)                  float64
                                             ...
Other Short-Term Loans                      float64
Advances Received From Customers            float64
Accounts Payable                            float64
Accrued Charges and Deferred Liabilities    float64
Total Liabilities                           float64
Length: 70, dtype: object

In [ ]:
financials.shape

(270106, 70)

# Test of Articulation

## Total Net Sales

In [ ]:
Net_Sales = financials[financials['Total Net Sales'] != financials['Net Sales (domestic revenue)']+financials['Net Sales (export revenue)']].iloc[:,[3,4,5]]
Net_Sales.head()

   Net Sales (domestic revenue)  Net Sales (export revenue)  Total Net Sales
0                           NaN                         NaN       74122000.0
1                           NaN                         NaN       68541000.0
2                           NaN                         NaN       43864000.0
3                           NaN                         NaN       45740000.0
4                           NaN                         NaN       31452000.0

In [ ]:
# To see if the difference is all because of missing data...
Net_Sales_NoNa = Net_Sales.dropna()

In [ ]:
Net_Sales_NoNa

        Net Sales (domestic revenue)  ...  Total Net Sales
185                     1.832760e+09  ...     8.663549e+09
217                     9.850270e+08  ...     3.868611e+09
2325                    2.449380e+06  ...     4.174799e+08
2327                    1.852254e+07  ...     1.583426e+09
2328                    2.326358e+07  ...     2.377213e+09
...                              ...  ...              ...
269990                  0.000000e+00  ...     1.061125e+09
270094                  0.000000e+00  ...     4.744150e+08
270096                  0.000000e+00  ...     4.506510e+08
270097                  0.000000e+00  ...     4.188570e+08
270098                  0.000000e+00  ...     3.754000e+08

[1519 rows x 3 columns]

In [ ]:
Net_Sales_NoNa['Difference'] = Net_Sales_NoNa['Total Net Sales']-abs(Net_Sales_NoNa['Net Sales (export revenue)'])-abs(Net_Sales_NoNa['Net Sales (domestic revenue)'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')
Net_Sales_NoNa.query('Difference > 1 and `Net Sales (domestic revenue)` != 0').sort_values(by='Difference',ascending=False)

        Net Sales (domestic revenue)  ...       Difference
214689              1,486,634,000.00  ... 2,222,272,000.00
147969             13,738,244,000.00  ... 1,164,620,000.00
234976                174,218,000.00  ...   835,601,000.00
237750             13,024,136,000.00  ...   578,843,000.00
242928                193,205,000.00  ...   512,317,000.00
...                              ...  ...              ...
34605                  70,785,509.03  ...           291.29
116201              6,291,957,016.00  ...           275.00
196721                243,471,035.00  ...           264.00
11177                 380,961,524.28  ...           259.13
196720                256,904,341.00  ...           253.00

[135 rows x 4 columns]

In [ ]:
financials.iloc[214688:214691,:]
# Skye: why specifically index these 4 lines?

              Tax Number  ... Total Liabilities
214688 11,207,380,212.00  ...  2,300,215,000.00
214689 11,207,380,212.00  ...  3,715,336,000.00
214690 11,207,380,212.00  ...  4,623,363,000.00

[3 rows x 70 columns]

## Test of Cost of Goods Sold

In [ ]:
COGS_df = financials[['Material Cost', 'Cost of Services', 'Purchase Value of Goods Sold', 'Market Value of Service', 'Cost of Goods Sold']]
COGS_df['Total_Cost'] = COGS_df['Material Cost'] + COGS_df['Cost of Services'] + COGS_df['Purchase Value of Goods Sold'] + COGS_df['Market Value of Service']
# Skye: does "Market Value of Service" belong to COGS? 
# I found this "The market value of a good or service is the price that would be paid for it in a fair market." (https://study.com/academy/lesson/what-is-market-value-definition-lesson-quiz.html)
# and it doesn't seem to belong.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
COGS_df['Difference'] = COGS_df['Total_Cost'] - COGS_df['Cost of Goods Sold']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
COGS_df.dropna().query('Total_Cost != 0 and abs(Difference) > 1').sort_values(by='Difference')

            Material Cost  ...         Difference
183229               0.00  ... -89,947,991,385.00
183228               0.00  ... -71,599,384,390.00
66668  -20,816,505,783.00  ... -21,827,030,821.00
183237 109,225,723,142.00  ... -21,715,911,039.00
66666   22,848,540,300.00  ... -16,501,176,900.00
...                   ...  ...                ...
162831   3,163,001,000.00  ...   2,844,383,000.00
155414   1,417,630,000.00  ...   3,380,881,000.00
143889   4,986,311,661.00  ...   7,342,493,950.00
143890   2,873,448,106.00  ...   7,755,121,395.00
11178   29,148,450,039.61  ...  24,898,047,591.95

[44465 rows x 7 columns]

In [ ]:
COGS_df.dropna().query('abs(Difference) < 1').sort_values(by='Difference')
# Skye: these two filtered results don't add up tp the total number 270,000. I wonder what does the rest look like.

        Material Cost  Cost of Services  ...     Total_Cost  Difference
115              0.00              0.00  ...           0.00        0.00
168302 331,072,000.00     34,624,000.00  ... 365,696,000.00        0.00
168725  39,800,000.00              0.00  ...  39,800,000.00        0.00
168828   2,122,000.00         88,000.00  ...   2,210,000.00        0.00
168851 658,470,000.00     32,603,000.00  ... 691,073,000.00        0.00
...               ...               ...  ...            ...         ...
89402   15,090,000.00              0.00  ...  15,090,000.00        0.00
89403   17,912,000.00              0.00  ...  17,912,000.00        0.00
89572    1,158,000.00     11,627,000.00  ...  16,668,000.00        0.00
89089            0.00              0.00  ...           0.00        0.00
269090  30,967,000.00        989,000.00  ...  31,956,000.00        0.00

[634 rows x 7 columns]

# Data Cleaning

## Abs Transformation

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
# The first thing to do is transform some columns to its absolute value
col_abs = ['Material Cost', 'Cost of Services','Market Value of Service', 'Purchase Value of Goods Sold','Cost of Goods Sold',	'Salary Expenses',	'Depreciation',	'Other Expenses',	'Financial Operations Cost',	'Extraordinary Expenses',	'Assets',	'Intangible Assets',	'Capitalized Value of R&D']
col_index = [financials.columns.get_loc(i) for i in col_abs]
for i in col_abs:
  financials[i] = abs(financials[i])

In [ ]:
#financials.to_feather('/content/drive/MyDrive/PBN/financials.feather')

## Net Sales

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
financials = pd.read_feather('/content/drive/MyDrive/PBN/financials.feather')

In [ ]:
# Assume that the total net sales should be the sum of domestic sales and export sales.

In [ ]:
# Create a list of row indexes for assigning np.nan
NetSales_0_index = financials[(financials['Net Sales (domestic revenue)'] == 0) & (financials['Net Sales (export revenue)'] == 0)].index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Net Sales (domestic revenue)', 'Net Sales (export revenue)']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[NetSales_0_index, col_index] = np.nan

In [ ]:
financials.iloc[50:54,:] # Test if it works for a selection of records

      Tax Number  ... Total Liabilities
50  2.797303e+10  ...        10434000.0
51  2.797303e+10  ...         7527000.0
52  2.797303e+10  ...        38804000.0
53  2.797303e+10  ...        23846000.0

[4 rows x 70 columns]

In [ ]:
# To test on the whole df
financials[(financials['Net Sales (domestic revenue)'] == 0) & (financials['Net Sales (export revenue)'] == 0)][['Net Sales (domestic revenue)', 'Net Sales (export revenue)']]

Empty DataFrame
Columns: [Net Sales (domestic revenue), Net Sales (export revenue)]
Index: []

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,3:5].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of total sales
Total_Sales_index = financials.columns.get_loc("Total Net Sales")

In [ ]:
# Fix Total Sales by setting it as the sum
financials.iloc[not_all_nan, Total_Sales_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Check if it works
financials[financials['Total Net Sales'] == financials['Net Sales (domestic revenue)']+financials['Net Sales (export revenue)']].iloc[:,[3,4,5]]

        Net Sales (domestic revenue)  ...  Total Net Sales
37                      2.534648e+08  ...     4.247484e+09
38                      4.489300e+08  ...     5.830190e+08
39                      1.127700e+08  ...     1.764649e+09
41                      3.508400e+07  ...     5.015700e+07
50                      6.420000e+05  ...     6.420000e+05
...                              ...  ...              ...
270089                  1.845700e+07  ...     2.926583e+09
270090                  7.136000e+06  ...     3.321322e+09
270091                  1.126500e+07  ...     3.318228e+09
270092                  7.852000e+06  ...     2.919867e+09
270093                  4.853000e+06  ...     2.942738e+09

[45633 rows x 3 columns]

In [ ]:
financials.iloc[:,[3,4,5]].dropna(subset=['Net Sales (domestic revenue)']).shape

(45633, 3)

In [ ]:
financials.iloc[:,[3,4,5]].dropna(subset=['Net Sales (export revenue)']).shape

(45633, 3)

In [ ]:
financials[financials['Current Liabilities'].isnull()]

          Tax Number  ... Total Liabilities
89575   1.329860e+10  ...               NaN
219804  1.097219e+10  ...               NaN
270105  1.067762e+10  ...               NaN

[3 rows x 70 columns]

## COGS

In [ ]:
# COGS should be the sum of Material Cost, Cost of Services, purchase value of sold goods, and Market Value of Service

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Material Cost`==0 and `Cost of Services`==0 and `Purchase Value of Goods Sold`==0 and `Market Value of Service`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Material Cost', 'Cost of Services', 'Purchase Value of Goods Sold', 'Market Value of Service']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of COGS
Total_index = financials.columns.get_loc('Cost of Goods Sold')

In [ ]:
# Fix Total Sales by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
financials.iloc[:,8:13][all_nan==False]

        Material Cost  ...  Cost of Goods Sold
37       2.448108e+09  ...        3.885759e+09
38       2.979140e+08  ...        3.766660e+08
39       8.168090e+08  ...        1.346674e+09
41       1.828380e+08  ...        7.161060e+08
50       0.000000e+00  ...        1.129000e+06
...               ...  ...                 ...
270089   1.546647e+09  ...        1.870439e+09
270090   1.528286e+09  ...        1.960062e+09
270091   1.472631e+09  ...        1.883918e+09
270092   1.525564e+09  ...        1.881613e+09
270093   1.120356e+09  ...        1.435915e+09

[46666 rows x 5 columns]

## Gross Income

In [ ]:
# For gross income, we should first temporarily change COGS, Salary Expense, and Depreciation to negative.
financials['Cost of Goods Sold'] = -financials['Cost of Goods Sold']
financials['Salary Expenses'] = -financials['Salary Expenses']
financials['Depreciation'] = -financials['Depreciation']

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Total Net Sales`==0 and `Revenue from other performances`==0 and `Other Income`==0 and `Cost of Goods Sold`==0 and `Salary Expenses`==0 and `Depreciation`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Total Net Sales', 'Revenue from other performances', 'Other Income', 'Cost of Goods Sold','Salary Expenses', 'Depreciation']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Gross Income
Total_index = financials.columns.get_loc('Gross Income')

In [ ]:
# Fix Gross Income by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
financials.iloc[:,col_index]

        Total Net Sales  ...  Depreciation
0          7.412200e+07  ...     -558000.0
1          6.854100e+07  ...     -461000.0
2          4.386400e+07  ...     -201000.0
3          4.574000e+07  ...     -231000.0
4          3.145200e+07  ...      -88000.0
...                 ...  ...           ...
270101     4.430710e+08  ...    -8524000.0
270102     6.295330e+08  ...    -7543000.0
270103     9.127680e+08  ...    -6027000.0
270104     8.801600e+08  ...    -7483000.0
270105     1.107159e+09  ...    -6841000.0

[270106 rows x 6 columns]

In [ ]:
# Now we transform the columns back to its absolute state.
financials['Cost of Goods Sold'] = -financials['Cost of Goods Sold']
financials['Salary Expenses'] = -financials['Salary Expenses']
financials['Depreciation'] = -financials['Depreciation']

## Financial Operations Income

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
# We should first transform the Financial Operations Cost to negative.
financials['Financial Operations Cost'] = -financials['Financial Operations Cost']

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Financial Operations Revenue`==0 and `Financial Operations Cost`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Financial Operations Revenue', 'Financial Operations Cost']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Financial Operations Income
Total_index = financials.columns.get_loc('Financial Operations Income')

In [ ]:
# Fix Gross Income by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Now we transform the columns back to its original state.
financials['Financial Operations Cost'] = -financials['Financial Operations Cost']

In [ ]:
#To test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Financial Operations Revenue  ...  Financial Operations Income
0                             5000.0  ...                       5000.0
1                             6000.0  ...                       6000.0
2                             1000.0  ...                       1000.0
3                             1000.0  ...                       1000.0
4                             1000.0  ...                       1000.0
...                              ...  ...                          ...
270101                     5682000.0  ...                    2848000.0
270102                     4172000.0  ...                   -6653000.0
270103                     7314000.0  ...                   -4652000.0
270104                     6385000.0  ...                    1915000.0
270105                     5376000.0  ...                    5375946.0

[270106 rows x 3 columns]

## Regular Operations Income

In [ ]:
# This column should be the sum of Gross Income and Financial Operations Income.
# Since we have already fixed these two columns, we can just add them up.
financials['Regular Operations Income'] = financials['Gross Income'].fillna(0) + financials['Financial Operations Income'].fillna(0)

## Extrodinary Income

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
# We should first transform the Extraordinary Expenses to negative.
financials['Extraordinary Expenses'] = -financials['Extraordinary Expenses']

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Extraordinary Revenue`==0 and `Extraordinary Expenses`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Extraordinary Revenue', 'Extraordinary Expenses']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Extraordinary Income
Total_index = financials.columns.get_loc('Extraordinary Income')

In [ ]:
# Fix Gross Income by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Now we transform the columns back to its original state.
financials['Extraordinary Expenses'] = -financials['Extraordinary Expenses']

In [ ]:
#To test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Extraordinary Revenue  Extraordinary Expenses  Extraordinary Income
0                         NaN                     NaN                   0.0
1                         NaN                     NaN                   0.0
2                         NaN                     NaN                   0.0
3                         NaN                     NaN                   0.0
4                         NaN                     NaN                   0.0
...                       ...                     ...                   ...
270101                 9000.0                     0.0                9000.0
270102                    0.0                260000.0             -260000.0
270103                    0.0                 30000.0              -30000.0
270104                    0.0                 81000.0              -81000.0
270105                    NaN                     NaN                   NaN

[270106 rows x 3 columns]

## Income Before Provision For Income Taxes

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
# We should first transform Extraordinary Income to negative.
financials['Extraordinary Income'] = -financials['Extraordinary Income']

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Regular Operations Income`==0 and `Extraordinary Income`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Regular Operations Income', 'Extraordinary Income']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Income Before Provision For Income Taxes
Total_index = financials.columns.get_loc('Income Before Provision For Income Taxes')

In [ ]:
# Fix Gross Income by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Now we transform the columns back to its original state.
financials['Extraordinary Income'] = -financials['Extraordinary Income']

In [ ]:
#To test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Regular Operations Income  ...  Income Before Provision For Income Taxes
0                      -1736000.0  ...                                -1736000.0
1                       -163000.0  ...                                 -163000.0
2                        256000.0  ...                                  256000.0
3                        567000.0  ...                                  567000.0
4                        531000.0  ...                                  531000.0
...                           ...  ...                                       ...
270101                 53642000.0  ...                                53633000.0
270102                 91108000.0  ...                                91368000.0
270103                119870000.0  ...                               119900000.0
270104                169422000.0  ...                               169503000.0
270105                294735946.0  ...                               294735946.0

[270106 rows x 3 columns]

## Profit After Tax IS

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
# We should first transform Provision For Income Taxes to negative.
financials['Provision For Income Taxes'] = -financials['Provision For Income Taxes']

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Income Before Provision For Income Taxes`==0 and `Provision For Income Taxes`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Income Before Provision For Income Taxes', 'Provision For Income Taxes']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Profit After Tax IS
Total_index = financials.columns.get_loc('Profit After Tax IS')

In [ ]:
# Fix Gross Income by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Now we transform the columns back to its original state.
financials['Provision For Income Taxes'] = -financials['Provision For Income Taxes']

In [ ]:
#To test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Income Before Provision For Income Taxes  ...  Profit After Tax IS
0                                     -1736000.0  ...           -1850000.0
1                                      -163000.0  ...            -163000.0
2                                       256000.0  ...             256000.0
3                                       567000.0  ...             561000.0
4                                       531000.0  ...             492000.0
...                                          ...  ...                  ...
270101                                53633000.0  ...           50773000.0
270102                                91368000.0  ...           84568000.0
270103                               119900000.0  ...          112600000.0
270104                               169503000.0  ...          160118000.0
270105                               294735946.0  ...          294735946.0

[270106 rows x 3 columns]

## Profit or Loss of The Year IS

In [ ]:
financials.head()

     Tax Number  ... Total Liabilities
0  2.902999e+10  ...        11945000.0
1  2.902999e+10  ...        13144000.0
2  2.902999e+10  ...        12547000.0
3  2.902999e+10  ...        12196000.0
4  2.902999e+10  ...         9969000.0

[5 rows x 70 columns]

In [ ]:
# We should first transform Approved Dividend Share to negative.
financials['Approved Dividend Share'] = -financials['Approved Dividend Share']

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Use Of Retained Earnings For Dividends`==0 and `Approved Dividend Share`==0 and `Profit After Tax IS`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Use Of Retained Earnings For Dividends', 'Approved Dividend Share', 'Profit After Tax IS']]

In [ ]:
# This line of code replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Boolean map all rows, assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Profit or Loss of The Year IS	
Total_index = financials.columns.get_loc('Profit or Loss of The Year IS')

In [ ]:
# Fix Gross Income by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Now we transform the columns back to its original state.
financials['Approved Dividend Share'] = -financials['Approved Dividend Share']

In [ ]:
#To test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Use Of Retained Earnings For Dividends  ...  Profit or Loss of The Year IS
0                                          NaN  ...                     -1850000.0
1                                          NaN  ...                      -163000.0
2                                          NaN  ...                       256000.0
3                                          NaN  ...                       561000.0
4                                          NaN  ...                       492000.0
...                                        ...  ...                            ...
270101                                     NaN  ...                     50773000.0
270102                                     NaN  ...                     84568000.0
270103                                     NaN  ...                    112600000.0
270104                                     NaN  ...                    160118000.0
270105                                     NaN  ...                    294735946.0

[270106 rows x 4 columns]

In [ ]:
#financials.to_feather('/content/drive/MyDrive/PBN/financials_IS_cleaned.feather')

In [ ]:
financials = pd.read_feather('/content/drive/MyDrive/PBN/financials_IS_cleaned.feather')

In [ ]:
min(financials['Report End Date'])

'2002-01-01'

## Intangible Assets

In [ ]:
Intangible_Assets_0_index = financials[(financials['Capitalized Value of R&D'] == 0) & (financials['Intellectual Property'] == 0) & (financials['Goodwill'] == 0)].index

col_index = [financials.columns.get_loc(i) for i in ['Capitalized Value of R&D', 'Intellectual Property', 'Goodwill']]

In [ ]:
financials.iloc[Intangible_Assets_0_index, col_index] = np.nan

In [ ]:
financials[(financials['Capitalized Value of R&D'] == 0)  & (financials['Intellectual Property'] == 0) & (financials['Goodwill'] == 0)][['Capitalized Value of R&D', 'Intellectual Property', 'Goodwill']]

Empty DataFrame
Columns: [Capitalized Value of R&D, Intellectual Property, Goodwill]
Index: []

In [ ]:
all_nan = financials.iloc[:,32:35].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
Intangible_Assets_index = financials.columns.get_loc("Intangible Assets")

In [ ]:
financials.iloc[not_all_nan, Intangible_Assets_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
financials[financials['Intangible Assets'] == financials['Capitalized Value of R&D']+financials['Intellectual Property'] + financials['Goodwill']].iloc[:,[32,33,34]]

        Capitalized Value of R&D  Intellectual Property      Goodwill
76                  0.000000e+00              458000.00  1.442021e+09
123                 3.370230e+08            42254000.00  0.000000e+00
144                 0.000000e+00            60000000.00  0.000000e+00
185                 1.891751e+09                   0.00  0.000000e+00
217                 0.000000e+00            18621689.22  3.721045e+08
...                          ...                    ...           ...
270085              0.000000e+00             2767000.00  0.000000e+00
270086              0.000000e+00              867000.00  0.000000e+00
270087              0.000000e+00             1298000.00  0.000000e+00
270088              0.000000e+00              756000.00  0.000000e+00
270089              0.000000e+00              215000.00  0.000000e+00

[23643 rows x 3 columns]

## Total Assets

In [ ]:
Total_Assets_0_index = financials[(financials['Fixed Financial Assets'] == 0) & (financials['Current Assets'] == 0) & (financials['Accrued and Deferred Assets'] == 0)].index

col_index = [financials.columns.get_loc(i) for i in ('Fixed Financial Assets', 'Current Assets' , 'Accrued and Deferred Assets')]

financials.iloc[Total_Assets_0_index, col_index] = np.nan

financials.iloc[50:54,:]

      Tax Number  ... Total Liabilities
50  2.797303e+10  ...        10434000.0
51  2.797303e+10  ...         7527000.0
52  2.797303e+10  ...        38804000.0
53  2.797303e+10  ...        23846000.0

[4 rows x 70 columns]

In [ ]:
 financials[(financials['Fixed Financial Assets'] == 0) & (financials['Current Assets'] == 0) & (financials['Accrued and Deferred Assets'] == 0)][['Fixed Financial Assets', 'Current Assets' , 'Accrued and Deferred Assets']]

Empty DataFrame
Columns: [Fixed Financial Assets, Current Assets, Accrued and Deferred Assets]
Index: []

In [ ]:
all_nan = financials.iloc[:,[38,39,45]].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
Total_Assets_index = financials.columns.get_loc("Total Assets")

In [ ]:
financials.iloc[not_all_nan, Total_Assets_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
financials[financials['Total Assets'] == financials['Fixed Financial Assets']+financials['Current Assets']+ financials['Accrued and Deferred Assets']].iloc[:,[38,39,45, 46]]

        Fixed Financial Assets  ...  Total Assets
0                          0.0  ...    11134000.0
1                          0.0  ...    12730000.0
2                          0.0  ...    12317000.0
3                          0.0  ...    12112000.0
4                          0.0  ...     9961000.0
...                        ...  ...           ...
270100                     0.0  ...   350278000.0
270101                     0.0  ...   267044000.0
270102                     0.0  ...   379839000.0
270103                     0.0  ...   442751000.0
270104                     0.0  ...   433003000.0

[269295 rows x 4 columns]

## Shareholder's Equity

In [ ]:
financials.rename(columns={'Suscribed Capital':'Subscribed Capital'},inplace=True)

In [ ]:
Shareholders_Equity_0_index = financials[(financials['Subscribed Capital'] == 0) & (financials['Subscribed Capital Unpaid (-)'] == 0) & (financials['Capital Reserve'] == 0) & (financials['Accumulated Profit Reserve'] == 0) & (financials['Accumulated Profit Reserve'] == 0) & (financials['Tied-Up Reserve'] == 0) & (financials['Revaluation Reserve'] == 0) & (financials['Profit or Loss of The Year BS'] == 0)].index

In [ ]:
col_index = [financials.columns.get_loc(i) for i in ('Subscribed Capital', 'Subscribed Capital Unpaid (-)', 'Capital Reserve', 'Accumulated Profit Reserve', 'Tied-Up Reserve', 'Revaluation Reserve', 'Profit or Loss of The Year BS')]

In [ ]:
financials.iloc[Shareholders_Equity_0_index, col_index] = np.nan

In [ ]:
financials[(financials['Subscribed Capital'] == 0) & (financials['Subscribed Capital Unpaid (-)'] == 0) & (financials['Capital Reserve'] == 0) & (financials['Accumulated Profit Reserve'] == 0) & (financials['Accumulated Profit Reserve'] == 0) & (financials['Tied-Up Reserve'] == 0) & (financials['Revaluation Reserve'] == 0) & (financials['Profit or Loss of The Year BS'] == 0)][['Subscribed Capital', 'Subscribed Capital Unpaid (-)', 'Capital Reserve', 'Accumulated Profit Reserve', 'Tied-Up Reserve', 'Revaluation Reserve', 'Profit or Loss of The Year BS']]

Empty DataFrame
Columns: [Subscribed Capital, Subscribed Capital Unpaid (-), Capital Reserve, Accumulated Profit Reserve, Tied-Up Reserve, Revaluation Reserve, Profit or Loss of The Year BS]
Index: []

In [ ]:
all_nan = financials.iloc[:,48:55].isna().apply(lambda x: all(x), axis=1)

In [ ]:
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
Shareholders_Equity_index = financials.columns.get_loc("Shareholder's Equity")

In [ ]:
financials.iloc[not_all_nan, Shareholders_Equity_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
financials[financials['Shareholder\'s Equity'] ==  financials['Subscribed Capital']  + financials['Subscribed Capital Unpaid (-)'] + financials['Capital Reserve'] + financials['Accumulated Profit Reserve'] + financials['Accumulated Profit Reserve'] + financials['Tied-Up Reserve'] + financials['Revaluation Reserve'] + financials['Profit or Loss of The Year BS']].iloc[:,[47,48,49,50,51,52,53,54]]

        Shareholder's Equity  ...  Profit or Loss of The Year BS
50              9.546000e+06  ...                  -4.540000e+05
340             6.700000e+04  ...                   4.700000e+04
479             3.100000e+05  ...                  -2.690000e+06
766             5.800000e+04  ...                  -4.200000e+04
834             2.936000e+06  ...                  -6.400000e+04
...                      ...  ...                            ...
269826          8.716838e+09  ...                  -1.671400e+09
269872          7.120000e+06  ...                   0.000000e+00
269994          3.000000e+06  ...                   0.000000e+00
269995         -1.050600e+07  ...                  -1.350600e+07
269997          3.000000e+06  ...                   0.000000e+00

[8744 rows x 8 columns]

## Assets

In [ ]:
Assets_0_index = financials[(financials['Intangible Assets'] == 0) & (financials['Tangible Assets'] == 0) & (financials['Advances on Investments'] == 0)].index

col_index = [financials.columns.get_loc(i) for i in ['Intangible Assets', 'Tangible Assets', 'Advances on Investments']]

In [ ]:
financials.iloc[Assets_0_index, col_index] = np.nan

In [ ]:
financials[(financials['Intangible Assets'] == 0)  & (financials['Tangible Assets'] == 0) & (financials['Advances on Investments'] == 0)][['Intangible Assets', 'Tangible Assets', 'Advances on Investments']]

Empty DataFrame
Columns: [Intangible Assets, Tangible Assets, Advances on Investments]
Index: []

In [ ]:
all_nan = financials.iloc[:,[31, 35, 37]].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
Assets_index = financials.columns.get_loc("Assets")

In [ ]:
financials.iloc[not_all_nan, Assets_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
financials[financials['Assets'] == financials['Intangible Assets']+financials['Tangible Assets'] + financials['Advances on Investments']].iloc[:,[30, 31, 35,37]]

              Assets  ...  Advances on Investments
37      1.618120e+09  ...               53308980.0
38      9.402130e+08  ...                      0.0
39      1.037270e+08  ...                      0.0
41      4.079900e+07  ...               11800000.0
52      7.600000e+04  ...                      0.0
...              ...  ...                      ...
270089  1.024927e+09  ...                      0.0
270090  9.633890e+08  ...                      0.0
270091  9.450240e+08  ...                      0.0
270092  9.437510e+08  ...                      0.0
270093  8.878340e+08  ...                      0.0

[45126 rows x 4 columns]

In [ ]:
#financials.to_feather('/content/drive/MyDrive/PBN/financials_Gab_JD.feather')

In [ ]:
financials = pd.read_feather('/content/drive/MyDrive/PBN/financials_Gab_JD.feather')

# Skye's part

## Long-Term Liabilities = Long-Term Loans - Investment and Development Credits - Other Long-Term Credits

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Long-Term Loans`==0 and `Investment and Development Credits`==0 and `Other Long-Term Credits`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Long-Term Loans', 'Investment and Development Credits', 'Other Long-Term Credits']]

In [ ]:
# Replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Long-Term Liabilities
Total_index = financials.columns.get_loc('Long-Term Liabilities')

In [ ]:
# Fix Long-Term Liabilities by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Long-Term Loans  ...  Long-Term Liabilities
0                   NaN  ...              6500000.0
1                   NaN  ...              6500000.0
2                   NaN  ...              6500000.0
3                   NaN  ...              6500000.0
4                   NaN  ...              6500000.0
...                 ...  ...                    ...
270101              NaN  ...                    0.0
270102              NaN  ...                    0.0
270103              NaN  ...                    0.0
270104              NaN  ...                    0.0
270105              NaN  ...                    NaN

[270106 rows x 4 columns]

## Current Liabilities = Short-Term Bank Loans + Other Short-Term Loans + Advances Received From Customers + Accounts Payable

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Short-Term Bank Loans`==0 and `Other Short-Term Loans`==0 and `Advances Received From Customers`==0 and `Accounts Payable`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Short-Term Bank Loans', 'Other Short-Term Loans', 'Advances Received From Customers', 'Accounts Payable']]

In [ ]:
# Replaces rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Current Liabilities
Total_index = financials.columns.get_loc('Current Liabilities')

In [ ]:
# Fix Long-Term Liabilities by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Short-Term Bank Loans  ...  Current Liabilities
0                         NaN  ...            4255000.0
1                         NaN  ...            5835000.0
2                         NaN  ...            5217000.0
3                         NaN  ...            4488000.0
4                         NaN  ...            1855000.0
...                       ...  ...                  ...
270101                    NaN  ...           95666000.0
270102                    NaN  ...          160113000.0
270103                    NaN  ...          162046000.0
270104                    NaN  ...           82720000.0
270105                    NaN  ...                  NaN

[270106 rows x 5 columns]

## Liabilities = Subordinated Liabilities + Long-Term Liabilities + Current Liabilities

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Subordinated Liabilities`==0 and `Long-Term Liabilities`==0 and `Current Liabilities`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Subordinated Liabilities', 'Long-Term Liabilities', 'Current Liabilities']]

In [ ]:
# Replace rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Liabilities
Total_index = financials.columns.get_loc('Liabilities')

In [ ]:
# Fix Liabilities by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Subordinated Liabilities  ...  Liabilities
0                            0.0  ...   10755000.0
1                            0.0  ...   12335000.0
2                            0.0  ...   11717000.0
3                            0.0  ...   10988000.0
4                            0.0  ...    8355000.0
...                          ...  ...          ...
270101                       0.0  ...   95666000.0
270102                       0.0  ...  160113000.0
270103                       0.0  ...  162046000.0
270104                       0.0  ...   82720000.0
270105                       NaN  ...          NaN

[270106 rows x 4 columns]

## Total Liabilities = Shareholder's Equity + Provisions + Liabilities + Accrued Charges and Deferred Liabilities

In [ ]:
# Create a list of row indexes for assigning np.nan
component_index = financials.query('`Shareholder\'s Equity`==0 and `Provisions`==0 and `Liabilities`==0 and `Accrued Charges and Deferred Liabilities`==0').index
# Create a list of column indexes for assigning np.nan
col_index = [financials.columns.get_loc(i) for i in ['Shareholder\'s Equity', 'Provisions', 'Liabilities', 'Accrued Charges and Deferred Liabilities']]

In [ ]:
# Replace rows where both sales are 0 with np.nan
financials.iloc[component_index, col_index] = np.nan

In [ ]:
# Assign True ONLY if the 2 columns are all "nan".
all_nan = financials.iloc[:,col_index].isna().apply(lambda x: all(x), axis=1)
not_all_nan = all_nan[~all_nan].index.tolist()

In [ ]:
# Get column index of Total Liabilities
Total_index = financials.columns.get_loc('Total Liabilities')

In [ ]:
# Fix Liabilities by setting it as the sum
financials.iloc[not_all_nan, Total_index]= financials.iloc[not_all_nan, col_index].fillna(0).sum(axis=1)

In [ ]:
# Test the selected columns
test_col = col_index + [Total_index]
financials.iloc[:,test_col]

        Shareholder's Equity  ...  Total Liabilities
0                  1161000.0  ...         11945000.0
1                   760000.0  ...         13144000.0
2                   801000.0  ...         12547000.0
3                  1208000.0  ...         12196000.0
4                  1614000.0  ...          9969000.0
...                      ...  ...                ...
270101           239489000.0  ...        335556000.0
270102           271593000.0  ...        443005000.0
270103           325623000.0  ...        506574000.0
270104           390260000.0  ...        499213000.0
270105                   NaN  ...                NaN

[270106 rows x 5 columns]

In [ ]:
financials.to_feather('/content/drive/MyDrive/PBN/financials_clean.feather')

In [ ]:
financials.to_csv('/content/drive/MyDrive/PBN/financials_clean.csv')

In [ ]:
financials.columns

Index(['Tax Number', 'Report Start Date', 'Report End Date',
       'Net Sales (domestic revenue)', 'Net Sales (export revenue)',
       'Total Net Sales', 'Revenue from other performances', 'Other Income',
       'Material Cost', 'Cost of Services', 'Purchase Value of Goods Sold',
       'Market Value of Service', 'Cost of Goods Sold', 'Salary Expenses',
       'Depreciation', 'Other Expenses', 'Gross Income',
       'Financial Operations Revenue', 'Financial Operations Cost',
       'Financial Operations Income', 'Regular Operations Income',
       'Extraordinary Revenue', 'Extraordinary Expenses',
       'Extraordinary Income', 'Income Before Provision For Income Taxes',
       'Provision For Income Taxes', 'Profit After Tax IS',
       'Use Of Retained Earnings For Dividends', 'Approved Dividend Share',
       'Profit or Loss of The Year IS', 'Assets', 'Intangible Assets',
       'Capitalized Value of R&D', 'Intellectual Property', 'Goodwill',
       'Tangible Assets', 'Assets in Course of Construction',
       'Advances on Investments', 'Fixed Financial Assets', 'Current Assets',
       'Inventory', 'Accounts Receivable', 'Other Receivables', 'Securities',
       'Funds', 'Accrued and Deferred Assets', 'Total Assets',
       'Shareholder's Equity', 'Subscribed Capital',
       'Subscribed Capital Unpaid (-)', 'Capital Reserve',
       'Accumulated Profit Reserve', 'Tied-Up Reserve', 'Revaluation Reserve',
       'Profit or Loss of The Year BS', 'Profit After Tax BS', 'Provisions',
       'Liabilities', 'Subordinated Liabilities', 'Long-Term Liabilities',
       'Long-Term Loans', 'Investment and Development Credits',
       'Other Long-Term Credits', 'Current Liabilities',
       'Short-Term Bank Loans', 'Other Short-Term Loans',
       'Advances Received From Customers', 'Accounts Payable',
       'Accrued Charges and Deferred Liabilities', 'Total Liabilities'],
      dtype='object')