In [ ]:
import pandas as pd

In [ ]:
financials_clean = pd.read_csv("/content/drive/MyDrive/Capstone Project: PBN/Data/financials_clean.csv")

In [ ]:
financials_clean.columns

Index(['Unnamed: 0', 'Tax Number', 'Report Start Date', 'Report End Date',
       'Net Sales (domestic revenue)', 'Net Sales (export revenue)',
       'Total Net Sales', 'Revenue from other performances', 'Other Income',
       'Material Cost', 'Cost of Services', 'Purchase Value of Goods Sold',
       'Market Value of Service', 'Cost of Goods Sold', 'Salary Expenses',
       'Depreciation', 'Other Expenses', 'Gross Income',
       'Financial Operations Revenue', 'Financial Operations Cost',
       'Financial Operations Income', 'Regular Operations Income',
       'Extraordinary Revenue', 'Extraordinary Expenses',
       'Extraordinary Income', 'Income Before Provision For Income Taxes',
       'Provision For Income Taxes', 'Profit After Tax IS',
       'Use Of Retained Earnings For Dividends', 'Approved Dividend Share',
       'Profit or Loss of The Year IS', 'Assets', 'Intangible Assets',
       'Capitalized Value of R&D', 'Intellectual Property', 'Goodwill',
       'Tangible Assets', 'Assets in Course of Construction',
       'Advances on Investments', 'Fixed Financial Assets', 'Current Assets',
       'Inventory', 'Accounts Receivable', 'Other Receivables', 'Securities',
       'Funds', 'Accrued and Deferred Assets', 'Total Assets',
       'Shareholder's Equity', 'Subscribed Capital',
       'Subscribed Capital Unpaid (-)', 'Capital Reserve',
       'Accumulated Profit Reserve', 'Tied-Up Reserve', 'Revaluation Reserve',
       'Profit or Loss of The Year BS', 'Profit After Tax BS', 'Provisions',
       'Liabilities', 'Subordinated Liabilities', 'Long-Term Liabilities',
       'Long-Term Loans', 'Investment and Development Credits',
       'Other Long-Term Credits', 'Current Liabilities',
       'Short-Term Bank Loans', 'Other Short-Term Loans',
       'Advances Received From Customers', 'Accounts Payable',
       'Accrued Charges and Deferred Liabilities', 'Total Liabilities'],
      dtype='object')

In [ ]:
financials_clean["ROA"]= financials_clean['Profit After Tax IS']/financials_clean['Total Assets']

In [ ]:
financials_clean["ROA"]

0        -0.166158
1        -0.012804
2         0.020784
3         0.046318
4         0.049393
            ...
270101    0.190130
270102    0.222642
270103    0.254319
270104    0.369785
270105         NaN
Name: ROA, Length: 270106, dtype: float64

In [ ]:
financials_clean["Inventory_turnover"]=financials_clean['Cost of Goods Sold']/financials_clean['Inventory']

In [ ]:
financials_clean["Inventory_turnover"]

0         6.847178
1         5.458850
2         3.446015
3         3.480052
4         2.815890
            ...
270101    2.594849
270102    2.261791
270103    4.418036
270104    3.933596
270105         NaN
Name: Inventory_turnover, Length: 270106, dtype: float64

In [ ]:
financials_clean['sum']=financials_clean[['Material Cost','Cost of Services','Cost of Goods Sold','Salary Expenses','Depreciation','Other Expenses','Financial Operations Cost']].fillna(0).sum(axis=1)

In [ ]:
sum_ind = financials_clean.columns.get_loc('sum')
COGS_ind = financials_clean.columns.get_loc('Cost of Goods Sold')

In [ ]:
zero_sum_ind = financials_clean[financials_clean['sum']==0].index

In [ ]:
non_zero_ind = list(set(financials_clean.index)^set(zero_sum_ind))

In [ ]:
financials_clean["Manufacturing_Costs_to_Total_Expenses"] = 0

In [ ]:
financials_clean.iloc[non_zero_ind, financials_clean.columns.get_loc("Manufacturing_Costs_to_Total_Expenses")] = financials_clean.iloc[non_zero_ind, COGS_ind]/financials_clean.iloc[non_zero_ind,sum_ind]

In [ ]:
financials_clean["Manufacturing_Costs_to_Total_Expenses"].value_counts()

1.000000    4378
0.000000    2945
0.500000     235
0.666667      24
0.333333      21
            ...
0.995822       1
0.988345       1
0.978747       1
0.910017       1
0.762901       1
Name: Manufacturing_Costs_to_Total_Expenses, Length: 259226, dtype: int64

In [ ]:
financials_clean.drop(columns = 'sum', inplace=True)

In [ ]:
financials_clean.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
financials_clean.head()

,Tax Number,Report Start Date,Report End Date,Net Sales (domestic revenue),Net Sales (export revenue),Total Net Sales,Revenue from other performances,Other Income,Material Cost,Cost of Services,...,Current Liabilities,Short-Term Bank Loans,Other Short-Term Loans,Advances Received From Customers,Accounts Payable,Accrued Charges and Deferred Liabilities,Total Liabilities,ROA,Inventory_turnover,Manufacturing_Costs_to_Total_Expenses
0,2.902999e+10,2003-01-01,2003-12-31,NaN,NaN,74122000.0,0.0,0.0,NaN,NaN,...,4255000.0,NaN,NaN,NaN,NaN,29000.0,11945000.0,-2.281134,6.847178,0.940576
1,2.902999e+10,2004-01-01,2004-12-31,NaN,NaN,68541000.0,0.0,1000.0,NaN,NaN,...,5835000.0,NaN,NaN,NaN,NaN,49000.0,13144000.0,-0.393720,5.458850,0.926395
2,2.902999e+10,2005-01-01,2005-12-31,NaN,NaN,43864000.0,0.0,2000.0,NaN,NaN,...,5217000.0,NaN,NaN,NaN,NaN,29000.0,12547000.0,1.113043,3.446015,0.895747
3,2.902999e+10,2006-01-01,2006-12-31,NaN,NaN,45740000.0,0.0,1000.0,NaN,NaN,...,4488000.0,NaN,NaN,NaN,NaN,0.0,12196000.0,6.678571,3.480052,0.892872
4,2.902999e+10,2007-01-01,2007-12-31,NaN,NaN,31452000.0,0.0,18000.0,NaN,NaN,...,1855000.0,NaN,NaN,NaN,NaN,0.0,9969000.0,61.500000,2.815890,0.903597

In [ ]:
financials_clean.rename({'Assets':'Fixed Assets'}, axis = 1, inplace=True)

In [ ]:
financials_clean.columns

Index(['Tax Number', 'Report Start Date', 'Report End Date',
       'Net Sales (domestic revenue)', 'Net Sales (export revenue)',
       'Total Net Sales', 'Revenue from other performances', 'Other Income',
       'Material Cost', 'Cost of Services', 'Purchase Value of Goods Sold',
       'Market Value of Service', 'Cost of Goods Sold', 'Salary Expenses',
       'Depreciation', 'Other Expenses', 'Gross Income',
       'Financial Operations Revenue', 'Financial Operations Cost',
       'Financial Operations Income', 'Regular Operations Income',
       'Extraordinary Revenue', 'Extraordinary Expenses',
       'Extraordinary Income', 'Income Before Provision For Income Taxes',
       'Provision For Income Taxes', 'Profit After Tax IS',
       'Use Of Retained Earnings For Dividends', 'Approved Dividend Share',
       'Profit or Loss of The Year IS', 'Fixed Assets', 'Intangible Assets',
       'Capitalized Value of R&D', 'Intellectual Property', 'Goodwill',
       'Tangible Assets', 'Assets in Course of Construction',
       'Advances on Investments', 'Fixed Financial Assets', 'Current Assets',
       'Inventory', 'Accounts Receivable', 'Other Receivables', 'Securities',
       'Funds', 'Accrued and Deferred Assets', 'Total Assets',
       'Shareholder's Equity', 'Subscribed Capital',
       'Subscribed Capital Unpaid (-)', 'Capital Reserve',
       'Accumulated Profit Reserve', 'Tied-Up Reserve', 'Revaluation Reserve',
       'Profit or Loss of The Year BS', 'Profit After Tax BS', 'Provisions',
       'Liabilities', 'Subordinated Liabilities', 'Long-Term Liabilities',
       'Long-Term Loans', 'Investment and Development Credits',
       'Other Long-Term Credits', 'Current Liabilities',
       'Short-Term Bank Loans', 'Other Short-Term Loans',
       'Advances Received From Customers', 'Accounts Payable',
       'Accrued Charges and Deferred Liabilities', 'Total Liabilities', 'ROA',
       'Inventory_turnover', 'Manufacturing_Costs_to_Total_Expenses'],
      dtype='object')

In [ ]:
list_of_var = ['Total Net Sales', 
               'Cost of Goods Sold', 
               'Gross Income', 
               'Financial Operations Income', 
               'Regular Operations Income', 
               'Extraordinary Income', 
               'Profit After Tax IS', 
               'Profit or Loss of The Year IS', 
               'Total Assets',
               "Shareholder's Equity",
               'Long-Term Liabilities',
               'Current Liabilities',
               'Total Liabilities',
               'ROA',
               'Inventory_turnover',
               'Manufacturing_Costs_to_Total_Expenses'
               ]

In [ ]:
financials_clean.to_csv('/content/drive/MyDrive/Capstone Project: PBN/Data/financials_index_added.csv')